<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Bem Vindo a Vick Viagens e Turismo - Serviços
                <small></small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Vick Viagens e Turismo - Serviços</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/imagens/37385016_217028502288144_7759604941374619648_n.jpg" class="img-responsive">
        </div>
        <div class="col-lg-12">            
            <p>De modo a se ter um sistema com fácil acoplamento com outras estruturas é necessário tornar ele dinâmico, facilmente adaptável e expansível.</p>
            <p>A melhor estrutura para isso é construindo micro serviços o que pode ser utilizado para expansões do sistema da empresa com novas e emergentes tecnologias.</p            
             
        </div>
    </div>
</div>
